
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Presupuesto Agregar Artículo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/medidas_container_serv.css"> 
    </head>
    <body>
        <nav class="navbar bg-dark mb-2">      
            <header class=" text-bg-dark">
                <div class="container">
                    <div class="d-flex flex-wrap align-items-center justify-content-center">                        
                        <a href="/index" class="d-flex align-items-center text-white text-decoration-none">                         
                            <img src="/logo1.png" id="logo" class="card-img-top" alt="logo">
                        </a>
                        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                            <li><a href="/cliente/listar" class="nav-link px-2 text-light">CLIENTE</a></li>
                            <li><a href="/servicio/registrar" class="nav-link px-2 text-light">SERVICIO</a></li>
                            <li><a href="/presupuesto/registrar" class="nav-link px-2 text-light">PRESUPUESTO</a></li>
                            <li><a href="/recibo/registrar" class="nav-link px-2 text-light">RECIBO</a></li>
                            <li><a href="/cuenta/listar" class="nav-link px-2 text-light">CUENTA</a></li>
                            <li><a href="/proveedor/registrar" class="nav-link px-2 text-light">PROVEEDOR</a></li>
                            <li><a href="/caja/listar" class="nav-link px-2 text-light">CAJA</a></li>
                        </ul>
                    </div>
                </div>
            </header>
        </nav>

        <section>
            <div class="container">

                <div class="card bg-dark">  
                    <div class="card-header bg-dark text-white">

                        <form class="formulario" th:action="@{/presupuesto/addArticulo}" method="POST">

                            <input hidden th:value="${idCliente}" name="cliente"> 
                            <input hidden th:value="${idVehiculo}" name="vehiculo"> 
                            <input hidden th:value="${fecha}" name="fechaA">  
                            <input hidden th:value="${observacion}" name="observacionA"> 

                            <div class="row">
                                <div class="mb-4 d-none d-sm-block col-md-2 col-lg-2 col-xl-2">
                                    <div class="form-floating btn btn-outline-danger" type="button">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="100" height="28" fill="currentColor" class="bi bi-calculator-fill" viewBox="0 0 16 16">
                                        <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm2 .5v2a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0-.5.5m0 4v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5M4.5 9a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM4 12.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5M7.5 6a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM7 9.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5m.5 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zM10 6.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5m.5 2.5a.5.5 0 0 0-.5.5v4a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 0-.5-.5z"/>
                                        </svg>  <h5>Presupuesto</h5>
                                    </div>
                                </div>
                                <div class="col-sm-1 col-md-4 col-lg-4 col-xl-4">
                                    <div class="d-flex align-items-center text-danger" style="height: 72px;">
                                        <h3>Registrar Presupuesto</h3>
                                    </div>
                                </div>
                            </div> 

                            <div class="row mb-2">
                                <div class="col-sm-5">
                                    <div class="form-floating mb-2">
                                        <label for="cliente" class="form-label text-white">Nombre de Cliente</label>
                                        <input id="cliente" class="bg-dark text-white form-control" type="text" th:value="${cliente.nombre}" disabled readonly>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-floating mb-2">
                                        <label for="vehiculo" class="form-label text-white">Vehículo</label>
                                        <input id="vehiculo" class="bg-dark text-white form-control" type="text" th:value="${vehiculo.dominio}+' - '+ ${vehiculo.marca}+' '+${vehiculo.modelo}" disabled readonly>
                                    </div>
                                </div>      
                                <div class="col-sm-2">
                                    <div class="form-floating mb-2">
                                        <label for="fecha" class="form-label text-white">Fecha de Servicio</label>
                                        <input id="fecha" type="date" class="bg-dark text-white form-control" th:value="${fecha}" disabled readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="form-floating mb-4">
                                <label for="observacion" class="form-label text-white">Observación</label>
                                <input id="observacion" type="text" class="bg-dark text-white form-control" th:value="${observacion}" disabled readonly>  
                            </div>

                            <div class="row mb-3">
                                <div class="col-sm-7">
                                    <div class="form-floating mb-2">
                                        <label for="articulo" class="form-label text-white">Seleccione Artículo</label>
                                        <select id="articulo" class="bg-dark text-white form-control" name="idArticulo">
                                            <option value="" selected disabled>Seleccione Artículo</option>
                                            <option th:each="articulo : ${articulos}"
                                                    th:value="${articulo.id}"
                                                    th:text="${articulo.nombre}+' '+${articulo.codigo}"/>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-5 col-sm-2">    
                                    <div class="form-floating mb-2">
                                        <label for="cantidad" class="form-label text-white">Ingrese Cantidad</label>
                                        <input type="number" step="0.01" min="0" max="9999999999" id="cantidad" class="bg-dark text-white form-control" name="cantidad" placeholder="Cantidad" th:value="${cantidad}" required minlength="0" maxlength="35" size="35">
                                    </div>
                                </div>
                                <div class="col-5 col-sm-2">    
                                    <div class="form-floating">
                                        <label for="precio" class="form-label text-white">Ingrese Precio</label>
                                        <input type="string" id="precio" class="bg-dark text-white form-control" name="precio" placeholder="Precio" value="0.0"
                                               minlength="0" maxlength="99999999999" size="99999999999">
                                    </div>
                                </div>

                                <div class="col-2 col-sm-1">  
                                    <div class="form-floating mb-2">
                                        <label class="form-label text-white"></label><br><br>
                                        <button type="submit" class="btn btn-outline-warning" title="Agregar Artículo">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="table-responsive" id="tablaAltura" style="background-color:  whitesmoke; padding: 15px; border-radius: 3px;">
                            <table class="table table-sm mb-4 table-hover">
                                <thead>
                                    <tr>
                                        <th class="col-sm-1">Cantidad</th>
                                        <th class="col-sm-6">Artículo</th>
                                        <th class="col-sm-2">Precio</th>
                                        <th class="col-sm-2">SubTotal</th>
                                        <th class="col-sm-1">Acción</th>  
                                    </tr>
                                </thead>
                                <tbody th:each="articulo : ${detalle}">
                                    <tr>
                                        <td th:text="${articulo.cantidad}"></td>
                                        <td th:text="${articulo.nombre}+' '+${articulo.codigo}"></td>
                                        <td type="number" step="0.01" th:text="'$'+${articulo.precio}"></td>
                                        <td type="number" step="0.01" th:text="'$'+${articulo.total}"></td>
                                        <td><a th:href="@{/presupuesto/borrarArticulo/__${articulo.id}__}" type="button" class="btn btn-outline-danger" title="Quitar Artículo">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
                                                </svg>
                                            </a></td> 
                                    </tr>
                                </tbody>
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                    <th scope="col">TOTAL:</th>
                                    <th scope="col" th:text=" ' $'+${totalServicio} "></th>
                                </tr>
                            </table>
                        </div>

                        <br>
                        <a th:href="@{/presupuesto/registro}" type="button" class="btn btn-outline-danger" title="Registrar Presupuesto">Aceptar</a>
                        <a th:href="@{/presupuesto/registrar}" type="button" class="btn btn-outline-warning" title="Cancelar">Cancelar</a>
                    </div>
                </div>

            </div>
        </section>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    </body>
</html>