<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Proveedor Registro</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/medidas_container_registro.css"> 
    </head>
    <body>
        <nav class="navbar bg-dark mb-2">      
            <header class=" text-bg-dark">
                <div class="container">
                    <div class="d-flex flex-wrap align-items-center justify-content-center">                        
                        <a href="/index" class="d-flex align-items-center text-white text-decoration-none">                         
                            <img src="/logo1.png" id="logo" class="card-img-top" alt="logo">
                        </a>
                        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                            <li><a href="/proveedor/registrar" class="nav-link px-2 text-light">PROVEEDOR</a></li>
                            <li><a href="/compra/registrar" class="nav-link px-2 text-light">COMPRA</a></li>
                            <li><a href="/pago/registrar" class="nav-link px-2 text-light">PAGO</a></li>
                            <li><a href="/cuentap/listar" class="nav-link px-2 text-light">CUENTAS</a></li>
                            <li><a href="/caja/listar" class="nav-link px-2 text-light">CAJA</a></li>
                        </ul>
                    </div>
                </div>
            </header>
        </nav>

        <section>
        <div class="container">

            <div class="card bg-dark">  
                <div class="card-header bg-dark text-white">

                    <div class="row mb-2">
                        <div class="d-none d-sm-block col-md-2 col-lg-2 col-xl-2">
                            <div class="form-floating mb-2 btn btn-outline-danger" type="button">                                    
                                <svg xmlns="http://www.w3.org/2000/svg" width="100" height="28" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                </svg>  <h5>Proveedor</h5>
                            </div>   
                        </div>   
                        <div class="d-none d-sm-block col-md-4 col-lg-4 col-xl-4">
                            <div class="d-flex align-items-center text-danger" style="height: 72px;">
                                <h3>Registrar Proveedor</h3>
                            </div>
                        </div>
                        <div class="d-none d-sm-block col-md-4 col-lg-4 col-xl-4">    
                        </div>
                        <div class="d-none d-sm-block col-md-2 col-lg-2 col-xl-2">
                            <a th:href="@{/proveedor/listar}" type="button" title="Ir a Lista de Proveedores" class="form-floating mb-2 button btn btn-outline-warning">                                      
                                 <svg xmlns="http://www.w3.org/2000/svg" width="100" height="28" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                </svg>  <h5>Ver</h5>
                            </a>    
                        </div>  
                    </div>
                    
                    <div class="row mb-2">
                            <div class="col-9 d-block d-md-none text-danger">
                                <h3>Registrar Proveedor</h3>
                            </div>
                            <div class="col-3 d-block d-md-none text-center">
                                <a th:href="@{/proveedor/listar}" class="text-warning">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                                </svg>  
                                    <h6 class="text-warning">Ver</h6> 
                                </a> </div>
                        </div>
                    
                    <form class="formulario" th:action="@{/proveedor/registro}" method="POST">
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-floating mb-3">
                                    <label for="nombre" class="form-label text-white">Nombre de Proveedor</label>
                                    <input type="text" id="nombre" class="bg-dark text-white form-control" name="nombre" placeholder="Ingrese Apellido y Nombre" th:value="${nombre}" required minlength="1" maxlength="35" size="35">
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-floating mb-3">
                                    <label for="cuit" class="form-label text-white">DNI/CUIT</label>
                                    <input type="number" id="cuit" class="bg-dark text-white form-control" name="cuit" placeholder="Ingrese DNI ó CUIT" th:value="${cuit}" max="99999999999">
                                </div>
                            </div>
                        </div>  
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-floating mb-3">
                                    <label for="localidad" class="form-label text-white">Localidad</label>
                                    <input type="text" id="localidad" class="bg-dark text-white form-control" name="localidad" placeholder="Ingrese Localidad" th:value="${localidad}">
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-floating mb-3">
                                    <label for="direccion" class="form-label text-white">Dirección</label>
                                    <input type="text" id="direccion" class="bg-dark text-white form-control" name="direccion" placeholder="Ingrese Dirección" th:value="${direccion}">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-5">
                            <div class="col-sm-5">
                                <div class="form-floating mb-3">
                                    <label for="telefono" class="form-label text-white">Teléfono</label>
                                    <input type="number" id="telefono" class="bg-dark text-white form-control" name="telefono" placeholder="Ingrese Teléfono" th:value="${telefono}">
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-floating mb-3">
                                    <label for="email" class="form-label text-white">Email</label>
                                    <input type="email" id="email" class="bg-dark text-white form-control" name="email" placeholder="Ingrese Email" th:value="${email}">
                                </div>
                            </div>
                        </div>
                        
                         <div class="mb-2 col-sm-1 col-md-5 col-lg-5 col-xl-5">    
                            <div th:if="${error != null}" class="btn btn-outline-danger">
                                <h5>Mensaje:</h5>
                                <h6 th:text="${error}"></h6>
                            </div>
                        </div>
                        
                        <div class="card-footer d-none d-sm-block">
                            <button type="submit" class="btn btn-outline-danger" title="Registrar Proveedor">Aceptar</button>
                            <a th:href= "@{/proveedor/registrar}" type="button" class="btn btn-outline-warning" title="Volver a Listado de Proveedores">Cancelar</a>
                        </div>
                        <div class="d-block d-md-none">
                            <button type="submit" class="btn btn-outline-danger" title="Registrar Proveedor">Aceptar</button>
                            <a th:href= "@{/proveedor/registrar}" type="button" class="btn btn-outline-warning" title="Volver a Listado de Proveedores">Cancelar</a>
                        </div>
                    </form>      
                </div>
            </div>
        </div>
        </section>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    </body>
</html>
