
body, html {
    height: 100%;
}

.container { 
             /*
             la medida para pantalla de resolucion grande es 234
             */
    min-height: calc(100% - 92px); 
    max-height: calc(100% - 92px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    flex-grow: 1;
    overflow-y: auto;
}

.card-img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.card-footer {
    position: absolute;
    bottom: 0;
    padding: 10px;

}





