

body, html {
    height: 100%;
}
/* Estilo para que el contenedor tenga una altura mínima y se ajuste a su contenido */
.container {
    min-height: calc(100% - 92px); /* Altura total menos el navbar (56px) */
    max-height: calc(100% - 92px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    flex-grow: 1;  

}

#tablaAltura {

    min-height: 425px; /* Altura total menos el navbar (56px) */
    max-height: 425px;  
    overflow-y: auto;


}

#tablaModificar {

    min-height: 415px; /* Altura total menos el navbar (56px) */
    max-height: 415px;  
    overflow-y: auto;

}

#tablaModificarA {

    min-height: 358px; /* Altura total menos el navbar (56px) */
    max-height: 358px;  
    overflow-y: auto;

}

#tablaEliminar {

    min-height: 323px; /* Altura total menos el navbar (56px) */
    max-height: 323px;  
    overflow-y: auto;

}



@media (max-width: 1366px) and (max-height: 768px) {

    .navbar {
        min-height: 55px; /* Altura total menos el navbar (56px) */
        max-height: 55px;  
        overflow-y: auto;
        font-size: 15px;
    }
    #logo {
        width: 155px; /* Puedes usar px, %, em, rem, etc. */
        height: auto;
    }

    .container {
        transform-origin: top left;    
        transform: scale(0.82);

    }

    #tablaAltura {

        min-height: 252px; 
        max-height: 252px;  
        overflow-y: auto;

    }

    #tablaModificar {

        min-height: 238px; /* Altura total menos el navbar (56px) */
        max-height: 238px;  
        overflow-y: auto;

    }

    #tablaModificarA {

        min-height: 184px; /* Altura total menos el navbar (56px) */
        max-height: 184px;  
        overflow-y: auto;

    }

    #tablaEliminar {

        min-height: 150px; /* Altura total menos el navbar (56px) */
        max-height: 150px;  
        overflow-y: auto;

    }

}

    
   
      
     
     


