
body, html {
    height: 100%;
}
/* Estilo para que el contenedor tenga una altura mínima y se ajuste a su contenido */
.container {

    min-height: calc(100% - 92px); /* Altura total menos el navbar (56px) */
    max-height: calc(100% - 92px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}
/* Estilo para que las card se expandan y ocupen todo el espacio vertical disponible */
.card {
    flex-grow: 1;  
    overflow-y: auto;

}

@media (max-width: 1366px) and (max-height: 768px) {

    .navbar {
        min-height: 55px; /* Altura total menos el navbar (56px) */
        max-height: 55px;  
        overflow-y: auto;
        font-size: 15px;
    }
    #logo {
        width: 155px; /* Puedes usar px, %, em, rem, etc. */
        height: auto;
    }

    .container {
        transform-origin: top left;    
        transform: scale(0.82);

    }

    #alturaCard {

        min-height: 653px; 
        max-height: 653px;  


    }

}



